<div class="flex">

  {{>header_admin}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
  >
  </script>
      <div class="container  text-center mt-10 ml-10 mr-10">

      <div class="flex justify-center">
        <div class="row" style="width: 600px;">
              <h5 class="text-center font-bold text-xl">THỐNG KÊ</h5>
              <br>
          <form id="getDateForm" action="/admin?startDate=2022-04-02&endDate=2022-04-09" Method="GET">
            <div class="flex justify-center">
              <div class="relative">
                  <input type="date" id="startDate" name="startDate" required="required" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 " >
              </div>
              <span class="mx-4 text-gray-500 ">Đến</span>
              <div class="relative">
                <input type="date" id="endDate" name="endDate" required="required" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  ">
            </div>
          </div>
          <div class="mt-4 flex justify-center">
            <button type="submit" class=" btn--primary waves-effect waves-light text-center mr-2"><i class="material-icons right">filter_list</i>Thống kê</button>
              <a href="/admin" class=" btn--primary waves-effect waves-light text-center"><i class="material-icons right">filter_list</i>Làm mới</a>
          </div>
          </form>
          <br>     
        </div>
      </div>
      <div class="row flex justify-center mt-6">
         <div class="col s6 block">
            <div class="flex justify-center">
                <div class="font-bold">Bác sĩ: <span class="ml-2">{{doctor}}</span></div>
                <div class="font-bold ml-60">Người dùng: <span class="ml-2">{{user}}</div>
                <div class="font-bold ml-60">Khoa: <span class="ml-2">{{clinicsss}}</div>
                <div class="font-bold ml-60">Giao dịch: <span class="ml-2">{{transacsion}}</div>
                <div class="font-bold ml-60">Doanh thu: <span class="ml-2">{{revenue}}$</div>
             </div>
          </div>
      </div>
       <br>
      <div class="row flex justify-center mt-6">
        <table class="w-full text-sm text-left text-gray-500 mt-4">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Stt
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Cuộc hẹn
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Phí tư vấn
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Giờ bắt đầu
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Giờ kết thúc
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Ngày
                      </th>
                  </tr>
              </thead>
              <tbody id="myTable">
                {{#each Transactions}}
                  <tr class="bg-white border-b  hover:bg-gray-50 ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900  whitespace-nowrap">
                        {{sum @index}}
                    </th>
                    <td class="px-6 py-4">
                        {{{this.title}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.tranBalence}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.startTime}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.endTime}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.date}}}
                    </td>
                    
                  </tr>
                  {{else}}
                    <tr>
                      <td colspan="6" class="center text-center">
                          Chọn thời gian để xem thông tin
                      </td>
                    </tr>
                  {{/each}}  
              </tbody>
            </table>
      </div>
       <br>
      <div class="row mt-6 flex justify-center">
        <div class="col s6 mr-10" style="width: 800px;">
            <h2 class="text-center font-bold text-xl">Thống kê năm</h2>
            <canvas class="year_Chart"></canvas>
        </div>
        <div class="col s6 push-l3 "style="width: 800px;">  
            <h5 class="text-center font-bold text-xl">Top Khoa</h5>
            <canvas id="product_Chart"></canvas>   
        </div>
        {{!-- <div class="col s3">
          <h5></h5>
          <br>
        <div class="paper_container z-depth-1 flex-block">
          
      <div class="card_statistics">
          <h7 class="">Revenue</h7>
        <h5 class="">  120.000$</h5>
        <span>^ 20%</span>

      </div>
      <div class="card_statistics">

      <img src="https://th.bing.com/th/id/OIP.fvUt6LjwQwBA54i6KZHKpAAAAA?pid=ImgDet&rs=1" class="responsive-img mid-img" alt="">
      </div>
        </div>
  
        </div> --}}
    
      </div>
    
      
      </div>


  <script>
    $( "#getDateForm" ).submit(function( event ) {
      let startDate = $('#startDate').val();
      let endDate = $('#endDate').val();

      $(this).attr('action',`/admin?startDate=${startDate}&endDate=${endDate}`)
});
  </script>

  <script>
    var ctx = document.getElementsByClassName('year_Chart');
    var myChart = new Chart(ctx, {
    type: 'bar', data: { labels: ['Tháng Giêng', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5',
    'Tháng 6','Tháng 7','Tháng 8','Tháng 9','Tháng 10','Tháng 11','Tháng 12'], datasets: [{ label: 'Năm', data: [5000,6200, 9200,2000,2300,8944, 7100,2000,5000,1922, 1522, 6020],
    backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102,255,0.2)'
    , 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132,1)',
    'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192,1)' ,
    'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] } ,
    options: { scales: { y: { beginAtZero: true } } } });

      var ctx2 = document.getElementById('product_Chart');
    var myChart2 = new Chart(ctx2,{
        type: 'doughnut', data: { labels: ['Mắt', 'Sản Nhi', 'Răng Hàm Mặt'], datasets: [{ label: '# of Votes', data: [30, 20,50],
    backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102,255,0.2)'
    , 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132,1)',
    'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192,1)' ,
    'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] } ,
    })

    const productQuantites = document.querySelectorAll(".p-quantity");
    const productPrices = document.querySelectorAll(".card-price");
    let totalPrice = 0, 
      totalQuantity = 0,
      quantity,
      prices,
      price;
    for (let i = 0; i < productQuantites.length; i++) {
      quantity = Number(productQuantites[i].textContent);
      prices = productPrices[i].textContent.match(/\d+/g);
      price = Number(prices[0]) + Number(`0.${prices[1]}`);
      totalPrice += quantity * price;
      totalQuantity += quantity;
      //   console.log(quantiy);
      //   console.log(price);
    }

    console.log(totalPrice);
    document.querySelector(".total-price").innerHTML = `$${totalPrice}`;
    document.querySelector(".total-quantity").innerHTML = `$${totalQuantity}`;

  </script>
          
  {{>footer_admin}}
</div>
