
<div class="flex h-full">

  {{>header_admin}}
  
    <div class="ml-2 w-full h-full mt-2">
      <div class="mb-4 border-b border-gray-200 w-full ">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-center w-full" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class=" font-bold text-gray-1000 inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="account-management-tab" data-tabs-target="#account-management" type="button" role="tab" aria-controls="#account-management" aria-selected="false">Lịch Sử Giao Dịch</button>
            </li>
        </ul>
      </div>
      <div id="myTabContent">
        <div class="hidden p-4 bg-gray-50 rounded-lg max-h-[90vh] min-h-[90vh] overflow-y-scroll" id="account-management" role="tabpanel" aria-labelledby="account-management-tab">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <span>{{message}}</span>
             {{>search}} 
            <table class="w-full text-sm text-left text-gray-500 mt-4">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                      <th scope="col" class="px-6 py-3 font-bold">
                          STT
                      </th>
                       <th scope="col" class="px-6 py-3 font-bold">
                          Ngày 
                      </th>
                       <th scope="col" class="px-6 py-3 font-bold">
                          Tiêu đề
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Người dùng
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Bác sĩ
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Giờ bắt đầu
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Giờ kết thúc
                      </th>
                     <th scope="col" class="px-6 py-3 font-bold">
                          Phí
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Trạng thái
                      </th>
                      <th scope="col" class="px-6 py-3">
                          
                      </th>
                  </tr>
              </thead>
              <tbody id="myTable">
                {{#each appointment}}
                  <tr class="bg-white border-b  hover:bg-gray-50 ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900  whitespace-nowrap">
                        {{sum @index}}
                    </th>
                    <td class="px-6 py-4">
                        {{{this.date}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.title}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.nameUser}}} 
                    </td>
                    <td class="px-6 py-4">
                        {{{this.nameDoctor}}} 
                    </td>
                    <td class="px-6 py-4">
                        {{{this.startTime}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.endTime}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.balance}}}
                    </td>
                    <td class="px-6 py-4 {{{ styleAppointment this.isCanceled}}}">
                        {{{ statusIsCancel this.isCanceled}}}
                    </td>
                  </tr>
                  {{else}}
                    <tr>
                      <td colspan="6" class="center text-center">
                          Lịch sử giao dịch trống
                      </td>
                    </tr>
                  {{/each}}  
              </tbody>
            </table>
            <div class="flex justify-end w-full mt-8">

              <nav aria-label="Page navigation">
                <ul class="inline-flex items-center -space-x-px">
                  <li>
                    <a href="#" class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">
                      <span class="sr-only">Previous</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">1</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">2</a>
                  </li>
                  <li>
                    <a href="#" aria-current="page" class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 ">3</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">4</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">5</a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">
                      <span class="sr-only">Next</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
  
 
   

