
<div class="main-profile" style="display: flex">
      <div class="left-container">
    {{>nav_doctor}}
  </div>
  <div class="right-container">
      <h1>Work History</h1>

  <div class="container"> 
       <table class="responsive-table">
        <thead>
          <tr>
              <th>Tiêu Đề</th>
              {{!-- <th>Bệnh Nhân</th> --}}
               <th>Bắt Đầu</th>
               <th>Kết Thúc</th>
              <th>Ngày</th>
              <th>Giá Trị</th>
          </tr>
        </thead>

        <tbody>
            {{#each appointments}}
          <tr>
            <td>{{this.title}}</td>
            {{!-- <td>{{this.userID}}</td> --}}
            <td>{{this.startTime}}</td>
             <td>{{this.endTime}}</td>
            <td>{{this.date}}</td>
            <td>$0.87</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
  </div>  
</div>