<div class='medicals__navbar flex justify-between items-center py-3'>
  <div class='medicals__navbar__left flex flex-start items-center flex-1'>
    <div class='medicals__navbar__brand flex flex-start items-center'>
      <img src='../img/logoweb.png' alt='logo' class='medicals__navbar__logo w-[30px] h-[30px]' />
      <a class='text-xl fw-bold ml-4'>MedicalS</a>
    </div>
    <div class='app-container__input medicals__navbar__search md:w-[600px] mx-5'>
      <input
        type='search'
        name='search'
        id='search'
        placeholder='Nhập tên bác sĩ, tên cuộc họp, ...'
        class='w-full hidden md:block'
      />
      <button type='submit'>
        <i class='fa-solid fa-magnifying-glass app-container__icon'></i>
      </button>
    </div>
  </div>
  <div class='medicals__navbar__right flex-2 flex items-center flex-end'>
   
    <div class='medicals__navbar__profile' style='display:flex'>
      {{! check login }}

      {{#if userID}}
            <div id="displayNotification" class="modal">
              {{#each notifications}}
              <div id="notification-container">
                  <h1 style="color:red">{{this.title}}</h1> 
                  <button style="color:blue">Xem</button>
                  <p>{{this.content}}</p>  
              </div>
              {{/each}}
            </a>
            </div>

            <!-- Link to open the modal -->
            <a href='#displayNotification' class='medicals__navbar__link' rel="modal:open">
              <i class='app-container__icon fa-solid fa-bell mr-4'></i>
              {{!-- <p id="totalNotification">0</p> --}}
            </a>
           
          {{#if userLogin}}
              <a
                id='dropdownDefault'
                data-dropdown-toggle='dropdown'
                class='cursor-pointer'
                type='button'
              >
                <img class='w-[30px] h-[30px] rounded-full' src='../uploads/{{image}}' />
              </a>

              <div
                id='dropdown'
                class='hidden z-10 w-44 bg-white rounded-lg divide-y divide-gray-100 shadow'
              >
                <ul class='py-1 text-sm text-white bg-[#1a355b]' aria-labelledby='dropdownDefault'>

                  <li>
                    <a
                      href='/user'
                      class='block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                    >Trang cá nhân</a>
                  </li>
                  <li>
                    <a
                      href='/auth/logout'
                      class='block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                    >Đăng xuất</a>
                  </li>
                </ul>
              </div>
             {{else}}
                <a
                id='dropdownDefault'
                data-dropdown-toggle='dropdown'
                class='cursor-pointer'
                type='button'
              >
                <img class='w-[30px] h-[30px] rounded-full' src='../uploads/{{image}}' />
              </a>

              <div
                id='dropdown'
                class='hidden z-10 w-44 bg-white rounded-lg divide-y divide-gray-100 shadow'
              >
                <ul class='py-1 text-sm text-white bg-[#1a355b]' aria-labelledby='dropdownDefault'>

                  <li>
                    <a
                      href='/doctor'
                      class='block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                    >Trang cá nhân</a>
                  </li>
                    <li>
                    <a
                      href='/doctor/workHistory'
                      class='block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                    >Lịch sử làm việc</a>
                  </li>
                    <li>
                    <a
                      href='/doctor/resume'
                      class='block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                    >Hồ sơ</a>
                  </li>
                  <li>
                    <a
                      href='/auth/logout'
                      class='block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
                    >Đăng xuất</a>
                  </li>
                </ul>
              </div>
              {{/if}}
      {{else}}
        <div class='authNotConfirm-container'>
          <a href='/auth/login'>Đăng nhập</a>
        </div>
      {{/if}}
      <!-- Dropdown Structure -->

    </div>
  </div>
</div>

    {{!-- <script src="../socket.io/socket.io.js"></script> --}}
    <script src = "../script/notification.js"></script>
