<div class="app-container flex flex-col homepage-container">
  {{>nav}}
  <main class="app__main flex w-full">
    <div class="medicals__sidenav max-w-[70px] mt-[100px]">
      <ul class="medicals__sidenav__list flex flex-col justify-center">
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="fa-solid fa-calendar-days medicals__sidenav__icon"
            ></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon medicals__sidenav__icon--active fa-solid fa-user-doctor"
            ></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-brands fa-rocketchat"
            ></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="#" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-solid fa-gear"
            ></i></a>
        </li>
      </ul>
    </div>
    <div class="app-section overflow-y-scroll">
      <h2 class="app-section__header">Doctors</h2>
      <div class="app-section__content">
        <div
          class="app-section__status flex md:flex-row flex-col flex-start w-full my-3"
        >
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">150</h3>
            <p class="status__type">Total</p>
          </div>
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">20</h3>
            <p class="status__type">Experts</p>
          </div>
          <div class="status__item mr-5">
            <h3 class="status__number fw-bold text-2xl">24</h3>
            <p class="status__type">Psychologists</p>
          </div>
        </div>
        <div class="doctor-list w-full">
          <form class="app-container__input md:w-[600px] mx-5">
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Nhập tên bác sỹ, chuyên khoa..."
              class="w-full hidden md:block"
            />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass app-container__icon"></i>
            </button>
          </form>
          <!-- ====================== https://tailwindui.com/components/application-ui/elements/dropdowns ====================== -->
    
          <section
            class="app-container__section app-container__section__card w-full mt-[30px] flex flex-row"
          >
            <div
              class="app-container__section__header flex flex-row items-center justify-between w-full flex-1"
            >
              <div class="app-container__section__header__img flex-2">
                <img
                  src={{doctor.image}}
                  class="w-[90px] h-[90px] rounded-full"
                />
              </div>
              <div class="app-container__section__header__content flex-1 px-4">
                <a href="#" class="text-blue-800 font-bold">{{doctor.firstName}} {{doctor.lastName}} (Tư vấn từ xa)</a>
                <p>
               
                </p>

                {{!-- <a href="/detailDoctor/{{this.id}}" style="color:red">Đặt Ngay</a> --}}
              </div>
            </div>
             <div class="app-container__section__content flex-1">
              <form action="" method="post" class="app-container__form">
                <h3 class="app-container__form__header">
                  LỊCH TƯ VẤN QUA VIDEO
                </h3>
                <input type="text" value="{{doctor.id}}" hidden="true">
                <div class="app-container__form__content flex flex-wrap">
                  <div class="app-container__form__section">
                    {{!-- time render --}}
                    {{#each timeWorks}}
                    <button
                      class="p-2 bg-gray-200 text-green-700 font-bold text-center mr-2 mt-2"
                      type="submit"
                    >
                      {{this.startTime}} -  {{this.endTime}}
                    </button>
            
                    {{/each}}
                  </div>
                  <div class="app-container__form__section mt-5">
                    <p class="">GIÁ TƯ VẤN QUA VIDEO: $5m USD</p>
                  </div>
                </div>
              </form>
            </div>
          </section>
             <section
            class="app-container__section app-container__section__card w-full mt-[30px] flex flex-row"
          >
            <div
              class="app-container__section__header flex flex-row items-center justify-between w-full flex-1"
            >
              {{!-- resume --}}
            </div>
            <div class="app-container__section__content flex-1">
                     {{doctor.resumeTitle}}
                <br>
                {{doctor.resumeDescription}}
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- <script src="./carousel.js"></script> -->
<!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->